@charset "UTF-8";

@import "icon/*.png";
@import "clients/*.png";

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
body {
  font: 14px 'Plumb', Arial;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  min-width: 980px;
}
a {
  color: #111;

  &:hover {
    color: #d71921;
  }
}
.text-up {
  text-transform: uppercase;
}

// nav
#menu {
  width: 100%;
  min-width: 980px;
  height: 65px;
  line-height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;

  :-moz-any-link:focus {
    outline: none;
  }

  .progress {
    background: #d71921;
    height: 4px;
    position: absolute;
    width: 35%;
  }

  .menu-l {
    width: 35%;
    border-top: 4px solid #111;

    img {
      vertical-align: middle;
    }
  }
  ul {
    width: 65%;
    text-transform: uppercase;
    border-top: 4px solid #111;

    li {
      font-size: 18px;
      font-weight: bold;

      a {
        text-decoration: none;
        padding: 0 27px;
      }
      &.current {
        a {
          color: #d71921;
        }
      }
      &.phone {
        font-size: 22px;
        padding-left: 30px;
      }
    }
  }
}
.phone {
  color: #111;
}
#nav-arrow {
  position: fixed;
  display: block;
  width: 58px;
  height: 54px;
  background: image-url('/assets/nav-arrow.png') no-repeat;
  right: 5%;
  bottom: 3%;
  z-index: 9;
  cursor: pointer;
}

#slides {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  & > div {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    background: image-url('/assets/slides/slide-1.jpg') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .window-wrap {
    position: relative;
    height: 100%;
  }
  h1 {
    font-size: 80px;
    color: #fff;
    position: absolute;
  }
}
#slide-1, #slide-4 {
  h1 {
    top: 50%;
    margin-top: -100px;
    left: 60%;
  }
}
#slide-2 {
  h1 {
    bottom: 10%;
    left: 5%;
  }
}
#slide-3 {
  h1 {
    top: 22%;
    left: 8%;
    color: #111;
    font-size: 77px;
  }
}
#slide-4 {
  h1 {
    left: 55%;
    margin-top: -180px;
  }
}

@for $i from 2 through 4 {
  #slide-#{$i} {
    background-image: image-url('/assets/slides/slide-#{$i}.jpg');
  }
}

#position {
  position: absolute;
  z-index: 3;
  bottom: 2%;
  text-align: center;
  width: 100%;

  li {
    border-radius: 15px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 2px;
    background: #111;
    cursor: pointer;

    &.on {
      cursor: default;
      background: #d71921;
    }
  }
}

// content
.window {
  width: 100%;
  height: 100%;
  background-size: cover;
  min-height: 100%;
  position: relative;

  h1 {
    font-size: 90px;
    margin: 0 0 15px;
  }
  .window-title {
    font-family: 'PlumbBlack';
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 30px;
    margin: 0 0 18px;
  }
}
.window-0 {
  min-height: 0;
}
.window-wrap {
  width: 980px;
  margin: 0 auto;
  padding-top: 90px;
}
.window-text {
  width: 475px;
  padding-bottom: 30px;
}
.window-text-right {
  margin-left: 505px;
}

@each $item in btl, posm, digital {
  ##{$item} {
    background-image: image-url('/assets/windows/#{$item}.jpg');
  }
}

@each $item in btl-promo, btl-web, btl-holiday, btl-balloon, download, email, geo, letter, phone {
  .icon-#{$item} {
    display: inline-block;
    width: icon-sprite-width(#{$item});
    height: icon-sprite-height(#{$item});
    @include icon-sprite(#{$item});
  }
}

// BTL
#btl {
  min-height: 870px;
  background-position: center right;

  .btl-list {
    font-size: 18px;

    li {
      float: none;
      padding-left: 60px;
      padding-top: 20px;
      line-height: 41px;
      position: relative;

      &:first-child {
        padding-top: 0;
      }
    }
    .btl-list-icon {
      display: inline-block;
      width: 43px;
      height: 41px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;

      .icon-btl-promo {
        position: relative;
        top: -4px;
      }
    }
  }
}

// POSM
#posm {
  min-height: 825px;
}
.show-works {
  font-weight: bold;
  font-size: 22px;
  padding-left: 150px;
  padding-top: 26px;
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
  }
}
#works-photos {
  img {
    display: none;
  }
}

// Digital
#digital {
  min-height: 725px;
  background-position: center right;

  .window-text {
    width: 500px;
  }
  p {
    width: 475px;

    &.digital-quote {
      width: 315px;
    }
  }
}
.digital-quote {
  font: 30px 'PlumbMedium', Arial;
  position: relative;
  padding: 0 20px 0 75px;
  margin-top: 60px;

  &:before, &:after {
    display: block;
    position: absolute;
    font: 92px 'PlumbMedium', Arial;
  }
  &:before {
    content: '«';
    top: -26px;
    left: 0;
  }
  &:after {
    content: '»';
    bottom: -26px;
    right: 0;
  }
  &:hover {
    &:after, &:before {
      color: #d71921;
    }
  }
}

// Clients
#clients {
  overflow: hidden;
  min-height: 1195px;
}
ul.clients-list {
  width: 100%;
  margin-top: 60px;

  li {
    width: 25%;
    height: 180px;
    line-height: 180px;
    text-align: center;

    a {
      display: inline-block;
    }
    &.text-left {
      text-align: left;
      width: 20%;
    }
    &.client-large {
      width: 30%;
    }
    .client-sony {
      margin-left: 36px;
    }
    .client-ntv {
      margin-left: 17px;
    }
  }
}
@each $client in perec, pozhar, brunch, domashniy, sony, dixy, sts, zoo, ntv, extes, child-tv, first-bank, anson-road, alfa, art_pictures, ctc_love, mebe, metro, mst, red, sedmoj_kontinent, thr {
  ##{$client} {
    width: clients-sprite-width(#{$client});
    height: clients-sprite-height(#{$client});
    @include clients-sprite(#{$client});
  }
}


// Contacts
#map, #map-dummy {
  width: 100%;
  height: 100%;
  min-height: 795px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

#map-dummy {
  z-index: 11;
  overflow: hidden;
  cursor: pointer;
  background: #fff;

  img {
    position: absolute;
    top: 50%;
    left: 50%;

    &.small {
      margin-top: -483px;
      margin-left: -952px;
    }
    &.large {
      margin-top: -688px;
      margin-left: -1280px;
    }

  }

}


#contacts {
  .window-wrap {
    position: relative;
    z-index: 50;
  }
}
.contacts-wrap {
  width: 380px;
  margin-left: 480px;
}
.contacts-block {
  background: #fff;
  padding: 20px 27px;
  width: 320px;
  margin-bottom: 10px;
  font: 16px 'PlumbMedium', Arial;

  p {
    padding-left: 45px;
    position: relative;
    margin: 20px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }
}
.contacts-icon {
  width: 32px;
  text-align: center;
  position: absolute;
  top: -4px;
  left: 0;
}
.contacts-icon-email {
  top: 0;
}
.contacts-phone {
  font-family: 'Plumb', Arial;
  font-weight: bold;
}
#contacts-form {
  font: 14px 'Plumb', Arial;
  overflow: hidden;
  position: relative;

  h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 45px;
    position: relative;
    margin: 0 0 20px;
  }
  input, textarea {
    width: 298px;
    border: 0;
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding: 5px 9px;

    &.error {
      border: 1px solid #d71921;
    }
  }
  textarea {
    resize: none;
    height: 60px;
  }
}
#contacts-submit {
  text-decoration: none;
  background: #d71921;
  font-weight: bold;
  color: #fff;
  padding: 9px;
  text-transform: uppercase;
  margin-top: 10px;
  border: 0;
  display: inline-block;

  &:hover {
    color: #fff;
  }
}
#contacts-inputs, #contacts-success {
  @include transition (all, 500ms);
}
#contacts-success {
  position: absolute;
  left: -350px;
  top: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #d71921;
  font-size: 20px;
  line-height: 1.4;
  width: 320px;
  z-index: 5;

  &.sent {
    left: 27px;
  }
}
#contacts-inputs {
  position: relative;
  left: 0;

  &.sent {
    left: 350px;
  }
}
