@mixin font-face($font-family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('/assets/#{$file-name}.eot');
    src: url('/assets/#{$file-name}.eot?#iefix')          format('embedded-opentype'),
         url('/assets/#{$file-name}.woff')                format('woff'),
         url('/assets/#{$file-name}.ttf')                 format('truetype'),
         url('/assets/#{$file-name}.svg##{$font-family}') format('svg');
  }
}