@media (max-width: 1280px) {
  .phone {
    display: none;
  }
  #slide-3 {
    h1 {
      left: 5%;
    }
  }
}
@media (min-width: 1600px) {
  #slide-1 {
    h1 {
      left: 70%;
    }
  }
  #slide-2, #slide-3 {
    h1 {
      left: 10%;
    }
  }
  #slide-4 {
    h1 {
      left: 60%;
    }
  }
}

@media (min-height: 900px) {
  #posm, #digital {
    .window-wrap {
      padding-top: 160px;
    }
  }
  #contacts {
    .contacts-wrap {
      margin-top: 50px;
    }
  }
}

@media (min-height: 1000px) {
  #btl, #clients {
    .window-wrap {
      padding-top: 160px;
    }
  }
  #posm, #digital {
    .window-wrap {
      padding-top: 210px;
    }
  }
  #contacts {
    .contacts-wrap {
      margin-top: 100px;
    }
  }
}